.module-image-tabs{

    .it-tab{
        display: none;
        padding-top: 18px;

        h3{
            color: #005031;
            margin-bottom: 1em;
        }
        p{
            margin-bottom: 1em;
            font-size: 25px;
            
            @media(max-width: $bp_desktop){
                font-size: 22px;
            }
            @media(max-width: $bp_desktopMedium){
                font-size: 19px;
            }
            @media(max-width: $bp_mobile){
                font-size: 16px;
            }
        }
    }

}