#page-header{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: $lightColor;
    
    .container-block{
        @include transition(0.35s);
        padding: 15px 20px;

        @media(max-width: $bp_desktop){
            padding: 15px $gutterProp;
        }
    }

    nav{
        a{
            text-decoration: none;
        }
    }

    .uhc-table{
        width: 100%;
        
        .logo-cell{
            position: relative;
            z-index: 2;

            @media(max-width: $bp_mobile){
                text-align: center;
                width: 100%;
            }

            a{
                display: inline-block;
                width: auto;
                max-width: 85px;
                position: relative;
                left: 16px;

                img{
                    display: block;
                    width: 100%;
                    @include transition(0.45s);

                    @media(max-width: $bp_desktopMedium){
                        width: 80px;
                    }
                    @media(max-width: 414px){
                        width: 78px;
                    }
                }
            }
        }

        .nav-cell{
            text-align: right;
            position: relative;
            z-index: 1;
            
            @media(max-width: $bp_mobile){
                text-align: center;
                width: 33px;
            }

            nav#main-navigation{
                cursor: default;
                position: relative;

                & > a,
                .has-sub-menu > a{
                    position: relative;
                    display: inline-block;
                    padding: 7px 7px;
                    @include typography(getFont(1), 17px, 1.2em, 600, getColor(2));

                    span{
                        @include transition(0.45s ease);
                        color: getColor(2);
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -4px;
                        left: 2px;
                        height: 3px;
                        width: 0%;
                        background: getColor(2);
                        opacity: 0;
                        @include transition(0.45s ease);

                        @media(max-width: $bp_desktopMedium){
                            height: 2px;
                        }

                    }
                    @media(max-width: $bp_desktopMedium){
                        font-size: 16px;
                    }
                }

                & > a{
                    &:not(:first-child){
                        margin-left: 15px;
                    }
                }

                .has-sub-menu{
                    display: inline-block;

                    &:not(:first-child){
                        margin-left: 100px;
                        @media(max-width: 1800px){
                            margin-left: $gutterProp;
                        }
                    }
                    .sub-nav{
                        position: absolute;
                        top: 102%;
                        top: 100%;
                        padding-top: 8px;
                        padding-left: 0;
                        text-align: center;
                        opacity: 0;
                        z-index: -1;
                        pointer-events: none;
                        @include transition(0.5s ease);

                        a{
                            display: block;
                        }

                        li{
                            list-style-type: none;
                            border-bottom: 2px solid #EFEFEF;
                            opacity: 0;

                            a{
                                background: getColor(1);
                                padding: 6px 32px;
                                @include typography(getFont(1), 20px, 1.2em, 500, getColor(6));
                                @include transition(0.35s);

                                &:hover{
                                    text-decoration: none;
                                    color: getColor(1);
                                    background: getColor(6);
                                }
                                @media(max-width: $bp_desktop){
                                    font-size: 18px;
                                }
                                @media(max-width: $bp_desktopMedium){
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    &:hover{
                        .sub-nav{
                            opacity: 1;
                            z-index: 1;
                            pointer-events: all;
                            li{
                                opacity: 1;
                            }
                        }
                    }
                }
                
                & > a,
                .has-sub-menu{
                    &:hover,
                    &.nav-active{
                        text-decoration: none;
                        & > a{
                            text-decoration: none;
                        }
                        &::after,
                        & > a::after{
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }

        }
    }

    #hamburger-menu{
        
        display: inline-block;
        width: 33px;
        position: relative;
        z-index: 905;
        top: 5px;
        cursor: pointer;
    
        .hm-bar{
            position: relative;
            z-index: 1;
            background: getColor(2);
            width: 100%;
            height: 4px;
            margin-bottom: 5px;
            transform-origin: 4px 0px;
            border-radius: 2px;
            @include transition(
                transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease
            );
    
            &:first-child
            {
                transform-origin: 0% 0%;
            }
            
            &:nth-last-child(1)
            {
                transform-origin: 0% 100%;
            }
    
        }
    
        &.active-menu{
            .hm-bar{
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: getColor(1) !important;
                &:nth-last-child(2)
                {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
                &:nth-last-child(1)
                {
                    @include transform(rotate(-45deg) translate(-2px, 0px));
                }
            }
        }
    
        @media(min-width: $bp_mobileMenuShift){
            display: none !important;
        }
    
        @media(max-width: $bp_mobile){
            top: 3px;
            left: 1px;
        }
    
    }
    
    #mobile-menu{
    
        display: none;
        opacity: 0;
        @include overlayFull(fixed, 900);

        .mm-main-wrap{
            @include transition(0.45s);
            @include overlayFull(fixed, 1);
            background: #dddddd;
        }
    
        .mobile-nav-wrapper{
            display: table;
            width: 90%;
            height: 100vh;
            max-width: 600px;
            margin: 0 auto;
            padding: 0vh $gutterMedium;
            box-sizing: border-box;
        }

        .mobile-social-menu{
            position: absolute;
            bottom: 5vh;
            left: 10%;
            right: 0;
            text-align: left;
            z-index: 2;
            
            .btn-ico{
                background: #D6D3C9; 
                margin-right: 5px;
                i{
                    color: getColor(2);
                    position: relative;
                    left: 0.1px;
                }
            }
        }
    
        nav{
            position: relative;
            z-index: 1;
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            padding: 3vh 0;
            user-select: none;

            & > a,
            .has-sub-menu > a{
                border-bottom: 1px solid #D6D3C9;
                text-transform: uppercase;
                position: relative;
            }

            .has-sub-menu > a{
                padding-right: 15px;

                &:after{
                    content: "+";
                    position: absolute;
                    right: 5px;
                    font-weight: 400;
                    font-size: 1.75em;
                }

                &.sub-nav-active{
                    &:after{
                        content: "—";
                        font-size: 1.35em;
                    }
                }
            }
    
            a{
                
                display: block;
                padding: 1em 0;
                @include typography(getFont(1), 16px, 1.2em, 600, getColor(2));
    
                span{
                    @include transition(0.45s ease);
                    color: getColor(7);
                }
    
                &:hover{
                    text-decoration: none;
    
                    span{
                        display: inline-block;
                        @include transform(translateX(7px));
                    }
                }

                @media(max-width: 380px){
                    font-size: 14px;
                    padding: 12px 0;
                }
    
                @media(max-height: 420px){
                    font-size: 12px;
                    padding: 8px 0;
                }
    
                @media(max-height: 330px){
                    padding: 8px 0;
                }
    
            }

            .has-sub-menu{
                ul{
                    display: none;
                    padding-left: 1em;
                    list-style-type: none;
                    li{
                        text-decoration: none;
                        a{
                            padding: 10px 0;
                            font-weight: 500;
                            @media(max-height: 420px){
                                font-size: 12px;
                                padding: 6px 0;
                            }
                        }
                    }
                }
            }
    
            @media(max-width: $bp_mobileMedium){
                // padding-bottom: 5vh;
            }
    
            @media(max-width: 340px){
                // padding-bottom: 0vh;
            }
    
            @media(max-height: 420px){
                // padding-bottom: 0;
                padding-top: 1vh;
            }
    
        }
    
        @media(min-width: $bp_mobileMenuShift){
            display: none !important;
        }
    
    }
    
    &.mobile-menu-active{
        position: fixed;
    }
}