.panel-the-content{
    padding: 100px 0px;
    
    @media(max-width: $bp_desktopSmall){
        padding: 80px 0px;
    }

    @media(max-width: $bp_tabletPortrait3){
        padding: 70px 0px;
    }
    
    @media(max-width: $bp_mobile){
        padding: 60px 0px;
    }

}